<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="maintitle">Tech Blog News</title>
  <link rel="stylesheet" href="../stylesheet/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Tech Blog News</a>
      </h1>
        <nav class="navigation">
          <a href="/createpost"> Create A Post</a>
          <a href="/login"> Login</a>
          <a href="/logout"> Logout</a>
          {{!-- <a href="/updatepost"> Update Posts</a> --}}
        </nav>
        {{!-- <nav>
        {{#if loggedIn}}
         <button id="logout" class="btn-no-style">logout</button>
         {{else}}
         <a href="/login">login</a>
         {{/if}}
        </nav> --}}
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>