*{
    box-sizing: border-box;
    color: black;
    font-family: Verdana;
}

body{
    height: 100%;
    padding: 0; 
    margin: 0;
    color: #343
}

.mainheader{
    background-color: green;
    font-size: 35px; 
    color: white;
    text-decoration: none;
    padding: 10px;
}

.mainheader a{
    text-decoration: none;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
      background-color: green;
      font-weight: bold; 
      color: white;
  }

  .navigation {
      text-decoration: none;
      display: flex; 
      justify-content: space-around;
  }

  .navigation a {
      text-decoration: none; 
  }

  .post-list{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .post{
      border: solid black 0.2rem; 
      padding: 1rem;
      margin-bottom: 0.5rem;
      background-color: lightgreen;
      border-radius: 0.5rem;
  }

  .login-form, .signup-form{
      border: solid black 0.2rem;
      padding: 1rem;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
  }

  #email-login, #password-login{
    margin: 0.5rem; 
    align-content: center;
  }

  #email-signup, #username-signup, #password-signup {
      margin: 0.5rem;
  }

  #new-post-form{ 
    border: solid 0.2rem black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
  }