<section>
    <div class="container main-post-sec">
        <div class="row create-post">
            <h2>Create a New Post</h2>
        </div>
        <div class="row new-post-box">
            <form class="col-8" id="new-post-form">
                <label for="post-title">Enter your post title: </label>
                <input type="text" name="post-title" id="post-title" class="form-control" />
                <label for="question">Content:</label>
                <textarea name="content" id="content" class="form-control"></textarea>
                
            </form>
            <div class="col-4">
                <br> 
                <button type="submit" id="save-post-btn" class="btn-warning btn">Save Post</button>
            </div>
        </div>  
    </div>
</section>

<script src="/javascript/createpost.js"></script>