  
<section>
    <div class="container ">
        <div class="update-post">
            
        </div>
    </div>
        <div class="row new-post-box">
            <form class="col-7 new-post-form">
                <label for="surv-name">Enter your Title  </label>
                <input type="text" name="post-name" id="post-title" class="form-control" value="{{post.postname}}"/>
                <label for="post-content">Content </label>
                <input type="text" id="post-content" class="form-control" value="{{post.postcontent}}"/>
               
            </form>
            <div class="save-post">
                <h3>Click below to Save Post</h3>
                <br>
               
                <button type="submit" id="save-post-btn" class="postbutton"> Save Post</button>
                <button type="submit" id="delete-post-btn" class="postbutton"> Delete Post</button>
            </div>
        </div>
    </div>
</section>