  
<section>
    <div class="container ">
        <div class="row update-post-box">
            <form class="col-7 update-post-form">
                <label for="post-title">Enter your Title  </label>
                <input type="text" name="post-title" id="post-title" class="form-control" value="{{post.name}}"/>
                <label for="post-content">Content </label>
                <input type="text" name="content" id="post-content" class="form-control" value="{{post.content}}"/>
               
            </form>
            <div class="save-post">
                <h3>Click below to Save Post</h3>
                <br>
               
                <button type="submit" id="save-post-btn" class="postbutton"> Save Post</button>
                <button type="submit" id="delete-post-btn" class="postbutton"> Delete Post</button>
            </div>
        </div>
    </div>
</section>